canvas {
    border: 1px solid #000;
}
canvas:hover{
    cursor: crosshair;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.user-input{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 4px;
}
.card-image{
    height: 240px;
    object-fit: scale-down;
}
.card{
    width: 300px;
    cursor: pointer;
    transition: all 0.15s;
}
.card:hover{
    box-shadow: 0 0 12px 12px rgba(0, 0, 0, 0.1);
}
.bx{
    font-size: 2rem;
}
.stat-list li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}
.stat-list li p{
    vertical-align: middle;
    margin: 0;
}
.hidden{
    display: none !important;
}
#change-weapon{
    display: flex;
}
.player-card{
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    border: rgba(0, 0, 0, 0.25) solid 1px;
    padding: 10px 20px;
    width: 260px;
    display: flex;
    justify-content: start;
    gap: 10px;
    flex-direction: column;
}
.player-card p{
    margin: 0;
}
.player-card-username{
    font-size: 1.2rem;
    font-weight: bold;
}
#player{
    padding: 40px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
}
#change-weapon-button{
    margin: 10px auto;
}
.me{
    background-color: rgba(255, 245, 195, 0.5);
}
.powerup-box{
    border: black solid 2px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}