<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tank</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body class="p-5">
<h1>Map: <span id="map-name"></span> Code: <span id="game-code"></span></h1>
<div id="game-view" class="d-flex justify-content-between">
    <div id="player">

    </div>
    <div id="game-content">
        <h2 id="game-info" class="text-center"><span id="game-timer">08:00</span></h2>
        <div id="death-info" class="hidden">
            <h2 id="death-text" class="hidden text-center">You died!</h2>
            <h2 class="text-center">Respawn in <span id="respawn-timer"></span> Seconds</h2>
        </div>
        <div id="winner" class="hidden">
            <h2><span id="player-winner"></span> has won the game!</h2>
        </div>
        <div id="game-main" class="hidden">
            <h2 id="event_information" class="hidden"><span id="current_event">Darkness</span></h2>
            <canvas id="game-canvas" width="400px" height="400px"></canvas>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h2><span id="hp">100</span> <img src="/texture/heal.png" class="player-info-img" alt="HealthPoints"></h2>
                    <h2><span id="shield"> 0</span> <img src="/texture/shield.png" class="player-info-img" alt="ShieldPoints"></h2>
                </div>
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <p>Press E to use Item</p>
                    <div id="powerup-box" class="powerup-box"></div>
                    <p id="current-item"></p>
                </div>
                <canvas id="minimap" width="100" height="100"></canvas>
            </div>
        </div>
        <div id="change-weapon-info">
            <div class="d-flex justify-content-center align-items-center">
                <button id="change-weapon-button" class="game-button hidden">Change Weapon</button>
            </div>
            <div id="change-weapon" class="justify-content-center flex-row gap-5"></div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js" integrity="sha512-1QvjE7BtotQjkq8PxLeF6P46gEpBRXuskzIVgjFpekzFVF4yjRgrQvTG1MTOJ3yQgvTteKAcO7DSZI92+u/yZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="/js/constant/Settings.js"></script>
<script src="/js/constant/Pictures.js"></script>
<script src="/js/model/Heal.js"></script>
<script src="/js/model/Line.js"></script>
<script src="/js/model/Player.js"></script>
<script src="/js/model/Bullet.js"></script>
<script src="/js/model/Camera.js"></script>
<script src="/js/model/PowerUp.js"></script>
<script src="/js/model/Bomb.js"></script>
<script src="/js/model/LaserGun.js"></script>
<script src="/js/Draw.js"></script>
<script src="/js/DrawMiniMap.js"></script>
<script src="/js/WebSocketMessageHandler/Messages/GAME_STATE.js"></script>
<script src="/js/WebSocketMessageHandler/Messages/END_GAME.js"></script>
<script src="/js/WebSocketMessageHandler/Messages/EVENT.js"></script>
<script src="/js/WebSocketMessageHandler/Messages/PLAYER_HIT.js"></script>
<script src="/js/WebSocketMessageHandler/Messages/POSITION.js"></script>
<script src="/js/WebSocketMessageHandler/Messages/VIEW_ANGLE.js"></script>
<script src="/js/WebSocketMessageHandler/Messages/TIMER.js"></script>
<script src="/js/WebSocketMessageHandler/Messages/STOP_EVENT.js"></script>
<script src="/js/WebSocketMessageHandler/Messages/USE_POWERUP.js"></script>
<script src="/js/WebSocketMessageHandler/Messages/TOWER.js"></script>
<script src="/js/config/wsConnection.js"></script>
<script src="/js/script.js"></script>
<script src="/js/Listener.js"></script>
</body>
</html>